<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654545589861-87jefnv7618vi66o2vu289dnocrcovfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654545589861-87jefnv7618vi66o2vu289dnocrcovfh</string>
	<key>API_KEY</key>
	<string>AIzaSyAY62lATDFxXoTbKeCZ2_D84NcwuBvmyFA</string>
	<key>GCM_SENDER_ID</key>
	<string>654545589861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TerraSky.SwiftUIFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>swiftui-firebase-chat-340e6</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-firebase-chat-340e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654545589861:ios:37dd3d4baed6e2b5e4988c</string>
</dict>
</plist>